/**
 * zoomer-button control CSS for Leaflet Addons
 */
.leaflet-zoomer-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
 
.leaflet-control-zoomer-button {
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);	
}
.leaflet-control-zoomer-button a {
  background-color: rgba(255, 255, 255, 0.75);
}
   
.leaflet-control-zoomer-button a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 19px;
  height: 19px;
}
	
.leaflet-control-zoomer-button a:hover {
  background-color: #fff;
}

.leaflet-touch .leaflet-control-zoomer-button a {
  width: 27px;
  height: 27px;
}
.leaflet-control-zoomer-button {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
}
.leaflet-control-zoomer-button a {
  background-image: url(images/zoomer-button.png);
  background-position: 2px 2px;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-zoomer-button .leaflet-control-zoomer-button a {
  background-position: 50% -21px;
}
.leaflet-control-zoom + .leaflet-control-zoomer-button {
  margin-top: 5px;
}