/**
 * zoomer-button control CSS for Leaflet Addons (IE Specific)
 */
	
.leaflet-control-zoomer-button {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3F000000',EndColorStr='#3F000000');
}
.leaflet-control-zoomer-button a {
  background-color: #eee;
}
.leaflet-control-zoomer-button a:hover {
  background-color: #fff;
}